html{
    font-size:1em;
}

body{
    background-color:#373737;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoPlayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    max-width: 100%;
}

header{
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 2em;
    font-weight:500;
    position: relative;
    padding: .5rem;
    color: white;
    background-color: rgba(99, 83, 145, 0.712);
}

.elements{
    opacity: 1%;
    padding: .5rem;
    display: flex;
    position: absolute;
    justify-content: space-around;
    bottom: 0;
    transform: translateY(100%) translateY(-3px);
    transition: all ease-in-out .3s;
    width: 100%;
    flex-wrap: wrap;
}
.progress{
    width: 99%;
    display: flex;
    height: 10px;
    background-color: rgb(63, 63, 39);
    margin-bottom: 10px;
}
.progressBar{
    height: 10px;
    flex-basis: 50%;
    width: 50%;
    background-color: yellow;
}
.videoPlayer:hover .elements{
    transform: translateY(0);
    transition: all ease-in-out .3s;
    visibility: visible;
    opacity: 100%;
}
.playPause{
    background-color: transparent;
    border: none;
    background-color: rgba(24, 39, 39, 0.733);
    border-radius: 5px;
    color: white;
}
.backward{
    background-color: transparent;
    border: none;
    background-color: rgba(24, 39, 39, 0.452);
    border-radius: 5px;
    color: white;
}
.forward{
    background-color: transparent;
    border: none;
    background-color: rgba(24, 39, 39, 0.452);
    border-radius: 5px;
    color: white;
}
.expand{
    background-color: transparent;
    border: none;
    background-color: rgba(24, 39, 39, 0.733);
    border-radius: 5px;
    color: white;
}
label{
    font-size: medium;
    font-family: 'Segoe UI';
}

video{
    width: auto;
    height: auto;
}

